body {
    background: #000;
}

#page {
    padding-top: 4em;
    font-size: 16px;
    line-height: 1.8125em;
    font-family: "Roboto", Arial, serif;
    font-weight: 400;
    color: #fff;

    background: url("../images/background.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}


#page-header {
    background: rgb(51, 51, 51);
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    padding: 0.5em 0;
    border-bottom: 1px solid #e8e8e8;
}


#logo-text {
/*    position: absolute;*/
    bottom: 12px;
    left: 65px;
    font-size: large;
}

a.navbar-brand {
    color: white;
}

#page-wrapper {
    padding-top: .5em;
}

#page-wrapper a {
    color: #47A3FF;
}

.bg-white {
    background: rgba(20,20,20,0.8);
}

.pub-title {
    font-weight: bold;
}

.pub-venue-name {
    font-style: italic;
}

.outerbox {
    margin-top: .5em;
    border-style:solid;
    border-color:#00FFFF;
    width: 100%;
    border-width: 1px;
}

.padding {
    margin-top: 20px;
}

.me {
    color: #00FF00;
}

#personal-contact-box hr {
    border-color: #00FFFF;
    background:   #00FFFF;
    height:       2px;
    border-style: solid;
}

#avatar-picture {
    margin-left: -17px;
    width:       296px;
    height:      222px;
}

#my-qr-code {
    width: 230px;
}

.btn-info {
    background-color: #8A5CE6;
    border-color:     #A375FF;
}

.btn-success {
    background-color: #5BC0DC;
    border-color:     #46B8DA;
}