<nav class="collapse navbar-collapse bs-navbar-collapse">
  <div class="navbar-header">
      <a href="/index.html" class="navbar-brand">Muyuan Li</a>
  </div>
  <ul class="nav navbar-nav">
    <li>
      <a href="/index.html">Home</a>
    </li>
    <li>
      <a href="/teaching.html">Teaching</a>
    </li>
    <li>
      <a href="/publications.html">Publications</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/cv/muyuanli_cv.pdf">CV</a></li>
    <li><a href="http://mybruceli.wordpress.com/">Blog</a></li>
    <li><a href="https://github.com/kkspeed">GitHub</a></li>
  </ul>
</nav>
